#### SQL And SQLite
SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('test_db.db')

In [3]:
connection

In [4]:
cursor=connection.cursor()

In [5]:
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

connection.commit()

In [6]:
cursor.execute('''
Insert Into employees(name,age,department)
               values('Nikhil',24,'Data Scientist')

''')

In [7]:
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Bob', 37, 'Engineering')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Charlie', 25, 'Finance')
''')

In [8]:
connection.commit()

In [9]:
cursor.execute('Select * from employees')

In [10]:
rows = cursor.fetchall()

In [12]:
for row in rows:
    print(row)

(1, 'Nikhil', 24, 'Data Scientist')
(2, 'Bob', 37, 'Engineering')
(3, 'Charlie', 25, 'Finance')

In [14]:
cursor.execute('''
UPDATE employees
Set age=24.8
where name="Nikhil"
''')
connection.commit()

In [15]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Nikhil', 24.8, 'Data Scientist')
(2, 'Bob', 37, 'Engineering')
(3, 'Charlie', 25, 'Finance')

In [16]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
Insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [17]:
!pip -q install mysql-connector-python

In [18]:
import mysql.connector

In [21]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000021450870A50>

In [23]:
from getpass import getpass
from mysql.connector import connect, Error

try:
    with connect(
        host="localhost",
        user=input("Enter username: "),
        password=getpass("Enter password: "),
    ) as connection:
        create_db_query = "CREATE DATABASE online_movie_rating"
        with connection.cursor() as cursor:
            cursor.execute(create_db_query)
except Error as e:
    print(e)