## Python String Formatting:

String formatting in Python is a powerful way to create clean and readable output, especially when working with numbers, dates, and other data types. Python provides several methods for string formatting we will explore `f-string` (formatted string literals)...

In [3]:
num1 = 10
num2 = 20

print("The first number is ", num1, "and the second number is", num2,".")

The first number is  10 and the second number is 20 .

In [9]:
print(f"The first number is {num1} and the second number is {num2}.")

The first number is 10 and the second number is 20.

---
### 1. **Basic String Formatting with f-strings**

An f-string allows you to embed expressions inside string literals, using curly braces `{}`. It automatically evaluates the expression inside the braces and inserts the result into the string.

**Syntax:**

```python
f"some string {expression}"
```

In [10]:
name = "Alice"
age = 24
print(f"Hello, my name is {name} and I am {age} years old.")

Hello, my name is Alice and I am 24 years old.

---
### 2. **Number Formatting in f-strings**

When dealing with numbers, f-strings allow precise control over how they are formatted. You can specify the number of decimal places, padding, alignment, and more. This is controlled by the **format specifiers**.

### 2.1 **Integer Formatting:**

Use the `d` format specifier to format integers.

In [17]:
number = 1234
print(f"Integer: {number:d}")

Integer: 1234

---

### 2.2 **Floating-Point Formatting:**

Use the `f` format specifier for floating-point numbers. You can control the number of decimal places.

In [18]:
pi = 3.141592653589793
print(f"Pi rounded to 2 decimal places: {pi:.2f}")

# ':.2f': Rounds the number to 2 decimal places.

Pi rounded to 2 decimal places: 3.14

---

### 2.3 **Scientific Notation:**

Use the `e` format specifier for scientific notation.

In [21]:
large_number = 1234567
print(f"Scientific notation: {large_number:.5e}")

Scientific notation: 1.23457e+06

---

### 2.4 **General Format:**

The `g` specifier is a general format specifier that uses either fixed-point or scientific notation, depending on the size of the number and the precision.

In [25]:
value = 238752817532.00012348768768
print(f"General format: {value:.2g}")

General format: 2.4e+11

---

### 3. **Controlling the Width and Alignment**

You can specify the **width** of the formatted output and control **alignment** (left, right, or center). This is useful when you need to align data in tables or output that requires specific formatting.

### 3.1 **Setting Width:**

The width specifies the minimum number of characters that the formatted output should occupy. If the number is smaller than the specified width, spaces will be added.

In [31]:
number = 42
print(f"Width of 10:{number:10d}")

Width of 10:        42

---

### 3.2 **Alignment:**

You can align the formatted value within the available width using the following options:

- **`<`**: Left-aligns the value.
- **`>`**: Right-aligns the value (default for numbers).
- **`^`**: Centers the value.

In [32]:
number = 42
print(f"Left aligned: {number:<10d}")
print(f"Right aligned: {number:>10d}")
print(f"Center aligned: {number:^10d}")

Left aligned: 42
Right aligned:         42
Center aligned:     42

### 3.3 **Padding with Zeroes:**

You can pad numbers with leading zeroes using the `0` specifier.

In [33]:
number = 42
print(f"Zero-padded: {number:05d}")

Zero-padded: 00042

---

### 4. **Sign Formatting**

You can control how the sign (positive or negative) is displayed with the following options:

- **`+`**: Always displays the sign (positive or negative).
- **`-`**: Displays the sign only for negative numbers (default).
- : Displays a space for positive numbers (optional).

In [36]:
positive_number = 42
negative_number = -42
print(f"Positive with sign: {positive_number:+d}")
print(f"Negative with sign: {negative_number:+d}")
print(f"Space for positive: {positive_number: }")

Positive with sign: +42
Negative with sign: -42
Space for positive:  42

---

### 5. **Percentage Formatting**

To format a number as a percentage, use the `%` format specifier. This multiplies the value by 100 and appends a `%` symbol.

In [39]:
value = 0.125
print(f"Percentage: {value:.2%}")

Percentage: 12.50%

---
### 6. **Comma as Thousands Separator**

You can format large numbers with commas as thousands separators using the `,` specifier.

In [40]:
large_number = 1234567890
print(f"With commas: {large_number:,}")

With commas: 1,234,567,890

---

### 8. **Date and Time Formatting**

Pythonâ€™s `datetime` module allows formatting dates and times. The `strftime` method is used to format `datetime` objects into readable strings.

In [45]:
from datetime import datetime

now = datetime.now()
print(f"Current date and time: {now:%Y-%m-%d %H:%M:%S}")

Current date and time: 2025-06-03 17:03:41

Here are some common date-time format codes:

- **`%Y`**: Year with century.
- **`%m`**: Month (2 digits).
- **`%d`**: Day of the month (2 digits).
- **`%H`**: Hour (24-hour clock).
- **`%M`**: Minute.
- **`%S`**: Second.

---
### 9. **`strftime` for Date and Time Formatting**

The `strftime()` method in Python is used to convert a `datetime` object into a string based on a specific format. It allows you to create custom date and time representations that fit your needs. This is especially useful when working with timestamps, logging, or presenting dates in different formats.

To use `strftime`, you first need to import the `datetime` module and create a `datetime` object (or use `datetime.now()` for the current date and time).

### **Syntax:**

```python
datetime_object.strftime(format_string)
```


Where:

- **`datetime_object`**: A `datetime` object (e.g., `datetime.now()` or any `datetime` object you create).
- **`format_string`**: A string that contains format codes that specify how the date and time should be displayed.

---

### **Common Format Codes for `strftime`:**

Here are the most commonly used format codes:

|Code|Description|Example Output (for `2025-02-27 14:30:59`)|
|---|---|---|
|`%Y`|Year with century|`2025`|
|`%y`|Year without century|`25`|
|`%m`|Month (01 to 12)|`02`|
|`%d`|Day of the month (01 to 31)|`27`|
|`%H`|Hour (00 to 23)|`14`|
|`%I`|Hour (01 to 12)|`02`|
|`%M`|Minute (00 to 59)|`30`|
|`%S`|Second (00 to 59)|`59`|
|`%p`|AM or PM|`PM`|
|`%A`|Full weekday name|`Thursday`|
|`%a`|Abbreviated weekday name|`Thu`|
|`%B`|Full month name|`February`|
|`%b`|Abbreviated month name|`Feb`|
|`%c`|Locale's appropriate date and time representation|`Thu Feb 27 14:30:59 2025`|
|`%x`|Locale's appropriate date representation|`02/27/25`|
|`%X`|Locale's appropriate time representation|`14:30:59`|
|`%j`|Day of the year (001 to 366)|`058`|
|`%U`|Week number of the year (00 to 52) starting with Sunday|`08`|
|`%W`|Week number of the year (00 to 52) starting with Monday|`08`|

In [46]:
from datetime import datetime
now = datetime.now()

# Format: YYYY-MM-DD HH:MM:SS
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2025-06-03 17:06:52

In [47]:
from datetime import datetime
now = datetime.now()

# Format: Day, Month Day, Year
print(now.strftime("%A, %B %d, %Y"))

Tuesday, June 03, 2025

# Control Flow

#### Conditional Statements (if, elif, else)
 Outline:
1. Introduction to Conditional Statements
2. if Statement
3. else Statement
4. elif Statement
5. Nested Conditional Statements
6. Practical Examples
7. Common Errors and Best Practices

In [51]:
## if statement
age=17

if age>=18:
    print("You are allowed to vote in the elections")
else:
    print("You are not allowed to vote in the elections")

You are not allowed to vote in the elections

In [52]:
age>=18

False

In [53]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age=16

if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are a minor

In [54]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age=17

if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [55]:
## Nested Condiitonal Statements

# You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number even ,odd,negative

num=int(input("Enter the number"))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

Enter the number40
The number is positive
The number is even

In [56]:
## Practical Examples

## Determine if a year is a leap year using nested condition statement

year=int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")

else:
    print(year,"is not a leap year")

Enter the year2024
2024 is a leap year

In [57]:
# Employee bonus calculation

# Take user input
years_of_service = int(input("Enter years of service: "))
performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))

# Determine bonus percentage
# if the performance rating is grater than 4.5.
if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10

elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage = 5
else:
    bonus_percentage = 0

# Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100


print(f"Bonus Amount: ${bonus_amount:.2f}")

Enter years of service: 10
Enter performance rating (1.0 to 5.0): 4.7
Enter current salary: 1000
Bonus Amount: $150.00

In [58]:

print(f"Bonus Amount: ${bonus_amount:.2f}")

Bonus Amount: $150.00

# Loops

Outline:
1. Introduction to Loops
2. for Loop
   - Iterating over a range
   - Iterating over a string

3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [60]:
for i in range(5):
  print("Your Name", i)

Your Name 0
Your Name 1
Your Name 2
Your Name 3
Your Name 4

In [62]:
list(range(5))

[0, 1, 2, 3, 4]

In [65]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
list(range(1, 11, 2))

[1, 3, 5, 7, 9]

---

#### Let's understand `range()`

In Python, the `range()` function generates a sequence of numbers, often used in loops for iteration. By default, it creates numbers starting from 0 up to but not including a specified stop value. You can also reverse the sequence with `reversed()`. If you need to count backwards, then you can use a negative step, like `range(start, stop, -1)`, which counts down from start to stop.

In [70]:
list(range(11, 0, -1))

[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [71]:
r = range(3)
print(type(r))

<class 'range'>

> A range is a Python object that represents an interval of integers. Usually, the numbers are consecutive, but you can also specify that you want to space them out.

In [73]:
numbers = range(1, 20, 2)
list(reversed(numbers))

[19, 17, 15, 13, 11, 9, 7, 5, 3, 1]

---
In Python, you can create loops using two different constructs:
1. A `for` loop, or a definite loop, repeats an operation for each element in an existing sequence.
2. A `while` loop, or an indefinite loop, repeats an operation until a condition is fulfilled.

In [78]:
fruits = ['apple', 'banana', 'cherry', 'dragon fruit']

for i in fruits:
  print(i)

apple
banana
cherry
dragon fruit

In [79]:
fruits = ['apple', 'banana', 'cherry', 'dragon fruit']

for fruit in fruits:
  print(fruit)

apple
banana
cherry
dragon fruit

In [80]:
## for loop

for i in range(5):
    print(i)

0
1
2
3
4

In [81]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [82]:
## strings

name="Nikhil Sharma"

for i in name:
    print(i)

N
i
k
h
i
l

S
h
a
r
m
a

In [ ]:
## while loop

## The while loop continues to execute as long as the condition is True.


# while condition:
  # st1
  # st2

In [83]:
count=0

while count<5:
    print(count)
    count=count+1

0
1
2
3
4

In [84]:
## Loop Control Statements

## break
## The break statement exits the loop prematurely

## break statement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [85]:

for i in range(10):
    if i==5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [89]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [90]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [91]:
if age>18:
  pass
else:
  pass

In [92]:
# nested loops,
# a loop inside a loop

for i in range(3):
    for j in range(2):
        print(i,j)

0 0
0 1
1 0
1 1
2 0
2 1

In [94]:
for i in range(3):
    for j in range(5):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:0 and j:4
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:1 and j:4
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:2 and j:3
i:2 and j:4

In [ ]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop


## For Loop